body {
    background-color: #e8f5e9; /* Зеленый фон */
    color: #333;
    font-family: Arial, sans-serif;
}

form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: auto; /* Центрируем форму */
    margin-top: 50px; /* Отступ сверху */
}

h2 {
    text-align: center;
    color: #4CAF50; /* Зеленый цвет заголовка */
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    height: 100px; /* Фиксированная высота для описания товара */
    resize: none; /* Отключаем возможность изменения размера */
}

button {
    background-color: #4CAF50; /* Зеленый цвет кнопки */
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%; /* Кнопка занимает всю ширину */
}

button:hover {
    background-color: #45a049; /* Темнее при наведении */
}

.back-button {
    background-color: #4CAF50; /* Зеленый цвет кнопки */
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    width: 200px; /* Ширина кнопки */
    margin-top: 10px; /* Отступ сверху */
}

.back-button:hover {
    background-color: #45a049; /* Темнее при наведении */
}